html{
    scroll-behaviour: smooth;
}

.nav-link{
    transition: 500ms;
}

.nav-link:hover{
    font-size: larger !important;
    letter-spacing: 5px !important;
}

.btn, .navbar-brand{
    transition: 650ms !important;
}

.btn:hover{
    background: black !important;
    box-shadow: 3px 3px 4px rgba(236, 55, 55, 0.8), -3px 3px 4px rgba(49, 48, 48, 0.8);
}

.navbar-brand:hover{
    box-shadow: 3px 3px 4px rgba(236, 55, 55, 0.8), -3px 3px 4px rgba(49, 48, 48, 0.8);
}

.download{
    background: url('canal-poster.png') no-repeat;
    background-position: center, top;
    background-size: cover;
    background-repeat: no-repeat;
    /*width: 1200px; */
}

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-bottom-text{
    padding: 10px;
    color: rgb(138, 138, 138);
    background: black;
    height: 50px;
}

.fab{
    color: white;
    font-size: 30px;
    transition: 500ms;
    margin: 10px;
}

.fab:hover{
    color: rgba(230, 65, 65, 0.8);
}

.uprlin::before{
    content: '';
    background: white;
    height: 1px;
    width: 60vw;
    display: block;

}

@media only screen and (max-width: 800px) {
    .collapse {
        background: linear-gradient(black, rgba(48, 48, 48, 0.753)); 
        padding: 15px; 
        border-radius: 6px;
    }
  }
